*.pyc
__pycache__
myenv
db.sqlite3  #este archivo es la base de datos local, donde se guardan los posts, en ese lugar se pueden hacer experimentos sin poner en riesgo el "blog 
#global"
/static
.DS_Store