<html> <!-- este es el inicio de la pagina web -->

<!--head será el nombre de la tab en el navegado-->
	<head>
		<title> blog de Mariana </title>
	</head>

	<!--esto saldra en la pagina-->
	<body>
		<!--ahora se generaran divisiones, con formatos distintos-->
		<div>
		<!--con titulos-->
			<h1><a href="">El blog de Mariana</a></h1>
		</div>

		<div>
           {{posts}}
		</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}

	</body>
</html> <!-- este es el final de la pagina web -->